*{
  font-family: 'Tenorite', sans-serif;
}

body {
  background-image: url(img/wiucgate2.jpg);
}

.login-card{
  width: 422px;
  height: 538px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.wiuc-img img{
  width: 88px;
  height: 88px;
  margin-left: 40%;
}

.login-card img{
  width: 88px;
  height: 88px;
  margin-left: 39%;
  margin-top: 7%;
}

.login-card p{
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}



.login-container {
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%; /* Full width of the parent */
}