body {
  background-image: url(img/wiucgate2.jpg);
  background-size: cover;
  background-position: center;
  position: relative; /* Required for the pseudo-element */
  
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Ensure it sits above the background image */
}

body p {
  width: 1920px;
  height: 1080px; 
}
