* {
  font-family: "Tenorite", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url(img/wiucgate2.jpg);
}

.login-card {
  width: 422px;
  height: 538px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.wiuc-img img {
  width: 88px;
  height: 88px;
  margin-left: 40%;
}

.login-card img {
  width: 88px;
  height: 88px;
  margin-left: 39%;
  margin-top: 7%;
}

.login-card p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
}

.login-container {
  margin-left: 3.4%;
  width: 360px;
}

.login-container {
  margin-top: 10%;
}

.login-container .student-id p {
  justify-content: left;
  margin-left: -78%;
  margin-bottom: -2%;
}

.student-id,
.student-pin label {
  font-size: 18px;
  font-weight: 550;
  padding-left: 8px;
}

.student-id input {
  width: 365px;
  height: 40px;
  margin-top: 12px;
  margin-left: 8px;

  border-radius: 8px;
  border: 1px solid #c9c9c9;
}

.student-pin {
  margin-top: 8%;
}

.student-pin input {
  width: 365px;
  height: 40px;
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 8px;
  border: 1px solid #c9c9c9;
}

.login-container .student-pin p {
  margin-left: -92.5%;
  margin-bottom: -12px;
}

.login-btn {
  margin-top: 10%;
  margin-left: 8px;
  border-radius: 10px;
  width: 374px;
  height: 43px;
  border: 1px solid #969696;
  background-color: #0a1f78;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #394a98;
  cursor: pointer;
  color: white;
}
