*{
  font-family: 'Tenorite', sans-serif;
}

.nav-bar {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}

.nav-bar .logo {
  width: 262px;
  height: 58px;
}

.nav-bar img {
  width: 54px;
  height: 54px;
}

.profile{
  display: flex;
}

.profile img{
  width: 54px;
  height: 54px;
}

hr{
  border-color: #d7d7d7;
  border-width: 1px;
}